.span{
    color:rgb(88, 216, 173);
    display: flex;
    justify-content: start;
    font-size: 20px;
}
body{
    background-color: rgb(3, 3, 39);
    height:100vh;
    display: grid;
    place-items: center;

}
.content{
    background-color: rgb(21, 16, 60);
    padding:25px;
}
.text{
    color:rgb(133, 133, 133)
}
header{
    color:white;
    font-size:50px;
}
.third{
    position:relative;
}
.third1img{
    margin: 3px 6px 6px 0px;
}
.span2{
    color:rgb(133, 133, 133);
    display: flex;
    justify-content: end;
    margin:0px 0px 20px 0px;
    position:absolute;
    top:0px;
    right:0px;
    font-size: 20px;
}
.text{
    font-size:40px;
    width:600px
}
footer{
    display: flex;
    flex-direction: row;
    margin-top:30px;
}

.span3{
    color:white;


}
.foot{
    font-size: 40px;
    color:rgb(133, 133, 133);
}